.header {
  padding: 50px 100px;
  text-align: center;
  background: #4a96d3;
  font-size: 36px;
  font-family: sans-serif;
  color: #292929; }

.main {
  background-color: lightgreen;
  padding: 100px;
  font-size: 38px;
  color: #292929;
  font-family: sans-serif;
  text-align: center; }

.footer {
  background-color: #8366a3;
  padding: 30px 100px;
  font-size: 32px;
  color: #fff;
  font-family: sans-serif;
  text-align: center; }
